.banner {
    background: url("https://img.freepik.com/free-photo/ripple-ornament-forever-drop-costume_1232-3547.jpg?t=st=1715861576~exp=1715865176~hmac=1050883b23a9afceeae83edd3a2385e17a80c027c5d05758560dacbb5a106ba8&w=826")
      no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
  }

